nav {
    display: flex;
    justify-content: center;
    background-color: #F8F9FA;
}

.logo {
    width: 32px;
    height: 32px;
    background: url("Images/cocodrilo.png");
    font-size: 0;
    position: absolute;
    top: 10px;
    z-index: 1;
    cursor: pointer;
}

li {
    list-style: none;
}

ul li:first-child {
    padding-bottom: 2px;
    color: #000000;
}